*{box-sizing: border-box;}

body{
  cursor: default;

  background-color: rgb(199, 179, 221);

  font-family: "Roboto", sans-serif;
}

.header h1 {
  margin-top: 30px;
  margin-left: 50px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 17vw;
}

.header h2 {
  margin-top: -12vw;
  margin-left: 60px;

  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2.5vw;
}

.container {
  margin-top: 5%;
}

.container a{
  color: #D72B37;
}

.container span{
  color: #8A8A8A;

  font-weight: 300;
}

.container p{
  margin-top: 20px;

  font-size: 16px;
  font-weight: 400;
}

/*Hexaflip*/

.shapeContainer {
  z-index: 50;

  display: block;

  width: 600px;
  height: 600px;
  margin: 3% auto;

}

.shapeContainer div{
  position: relative;
  z-index: 0;

  display: inline-block;
  float: left;
}

.hexaflip-cube {
  position: relative;

  display: inline-block;

  cursor: move;
  cursor: grab;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transform-style: preserve-3d;
}

.hexaflip-cube:active {
  cursor: move;
  cursor: grabbing;
}

.hexaflip-cube .hexaflip-side {
  position: absolute;

  overflow: hidden;

  width: 100%;
  height: 100%;

  user-select: none;
  text-align: center;
  text-indent: -9999px;

  background-color: #333;
  background-size: cover;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.hexaflip-cube div {
  transition: transform 0.4s;

  transform-style: preserve-3d;
}

.hexaflip-cube div .no-tween {
  transition-duration: 0s;
}

.hexaflip-cube
.hexaflip-side-left,
.hexaflip-side-right {
  background-color: #1e2026 !important;
}

.hexaflip-timepicker .hexaflip-cube:last-child .hexaflip-side:nth-child(odd) {
  background-color: #1e2026;
}

/*Popup*/

.popup {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;

  display: none;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  opacity: 0;
  background-color: #cbfed2;
}

.popup .popup-inner {
  position: absolute;
  z-index: 50;
  top: 45%;
  left: 50%;

  display: block;

  width: 100%;
  max-width: 800px;
  height: auto;
  min-height: 200px;
  margin: 3% auto;

  transform: translate3d(-50%,-45%,0);

  background: rgba(#000000, 0.57);
}

.popup .popup-inner h2 {
  color: rgb(0, 0, 0);

  font-size: 50px;
}

.popup .popup-inner h2 button{
  margin: 20px auto;

  font-weight: 700;
}

.button_play {
  display: inline-block;

  padding: 10px 10px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;

  color: white;
  border-radius: 5px;
  background-color: black;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

  color: rgb(175, 9, 9);
}

.facebook {
  float: right;

  width: 60px;
  height: 60px;
  padding: 10px;

}

.portfolio {
  float: left;

  width: 60px;
  height: 60px;
  padding: 11px;

}

/*end popup*/

.button {
  position: relative;

  margin-top: 80px;
  margin-left: 155px;
  padding: 1rem 1rem;

  color: #111111;
  outline: none;
  background: transparent;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.button::after, .button::before {
  position: absolute;
  z-index: -2;

  width: 90px;
  height: 90px;

  content: "";
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: skewX(0deg);
}

.button::before {
  top: -2rem;
  left: 3rem;

  background-color: #9ef49c;
}

.button::after {
  top: 1rem;
  left: 6rem;

  background-color: #f77474;
}

.button:hover::before, .button:hover::after {
  top: 0;

  transform: skewx(0deg);
}

.button:hover::after {
  left: 3.1rem;
}

.button:hover::before {
  left: 8.75rem;
}

.button > h1 {
  margin: 7px 60px;
  padding-bottom: 50px;

  text-align: center;
}

/*background*/

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.background span {
  position: relative;

  display: block;

  width: 100%;
  height: 16.66vh;

  animation: adjust 7000ms ease-in infinite;
}

.background span:nth-child(1) {
  animation-delay: 0ms;

  background-color: #fecbd6;
}

.background span:nth-child(2) {
  animation-delay: 200ms;

  background-color: #fecbd6;
}

.background span:nth-child(3) {
  animation-delay: 400ms;

  background-color: #fecbd6;
}

.background span:nth-child(4) {
  animation-delay: 600ms;

  background-color: #fecbd6;
}

.background span:nth-child(5) {
  animation-delay: 800ms;

  background-color: #fecbd6;
}

.background span:nth-child(6) {
  animation-delay: 1000ms;

  background-color: #fecbd6;
}

@keyframes adjust {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@media all and (min-width: 321px) and (max-width: 375px){
  .header h1 {
    font-size: 25vw;
  }

  .header h2 {
    margin-top: -20vw;

    font-size: 4vw;
  }

  .shapeContainer {
    margin-top: 25px;
    margin-left: -10px;
  }

  .popup {
    width: 200vw;
    height: 200vh;
  }

  .popup .popup-inner {
    top: 35%;
    left: 45%;

    max-width: 400px;
  }

  .button_play{
    padding: 20px 20px;

    font-size: 50px;
  }

  .background span {
    width: 180vw;
    height: 30vh;
  }
}

@media all and (max-width: 320px) {
  .header h1 {
    font-size: 30vw;
  }

  .header h2 {
    margin-top: -20vw;

    font-size: 5vw;
  }

  .shapeContainer {
    margin-top: 25px;
    margin-left: -10px;
  }

  .popup {
    width: 187vw;
    height: 200vh;
  }

  .popup .popup-inner {
    top: 40%;

    max-width: 400px;
  }

  .popup .popup-inner h2 {
    font-size: 60px;
  }

  .button_play {
    padding: 10px 10px;

    font-size: 50px;
  }

  .facebook {
    padding: 5px;

  }

  .portfolio {
    padding: 5px;

  }

  .background span {
    width: 200vw;
    height: 40vh;
  }
}
